{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Game store">
    <meta name="author" content="DERZKI">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script type="text/javascript">
        WebFontConfig = {
            google: {families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700']}
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '{% static 'assets/js/webfont.js' %}';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>


    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
</head>
<body>
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<div class="page-wrapper">

    <header class="header">

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler" type="button">
                        <i class="icon-menu"></i>
                    </button>
                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'assets/images/logo.png' %}" alt="Porto Logo">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu">
                            <li>
                                <a href="{% url 'games:catalog' %}"><i
                                        class="icon-joystick font-size-lg"></i>Каталог</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="header-right">
{#                    <div class="header-search">#}
{#                        <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>#}
{#                        <form action="{% url 'api:games' %}" method="get" id="search">#}
{#                            <div class="header-search-wrapper">#}
{#                                <input type="search" class="form-control" name="search" id="q" placeholder="Поиск..."#}
{#                                       required="">#}
{#                                <button class="btn" type="submit"><i class="icon-search"></i></button>#}
{#                            </div><!-- End .header-search-wrapper -->#}
{#                        </form>#}
{#                    </div>#}
                {% if user.is_authenticated %}
                        <a href="{% url 'users:wishlist' %}" class="porto-icon"><i class="icon icon-wishlist-2"></i></a>
                {% endif %}
                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="minicart-icon"></i>
                                    <span class="cart-count">{{ baskets.total_quantity }}</span>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="dropdownmenu-wrapper">
                                        <div class="dropdown-cart-header">
                                            <span class="cart-count"> {{ baskets.total_quantity }}</span>

                                            <a href="">Корзина</a>
                                        </div><!-- End .dropdown-cart-header -->
                                        <div class="dropdown-cart-products">
                                            {% for basket in baskets %}
                                                <div class="product">
                                                    <div class="product-details">
                                                        <h4 class="product-title">
                                                            <a href={% url 'games:game' basket.game.slug %}>{{ basket.game.name }}</a>
                                                        </h4>

                                                        <span class="cart-product-info">
                                                        <span class="cart-product-qty">{{ basket.game.price }}руб.</span>
                                                            <br>
                                                            <button onclick="apibasket_inc_dec.call(this, {{ basket.id }}, {{ basket.quantity }} + 1)">+</button>
                                                            <span class="cart-product-qty">кол:{{ basket.quantity }}</span>
                                                             <button onclick="apibasket_inc_dec.call(this, {{ basket.id }}, {{ basket.quantity }} -1)">-</button>
                                                    </span>
                                                    </div><!-- End .product-details -->

                                                    <figure class="product-image-container">
                                                        <a href="{% url 'games:game' basket.game.slug %}"
                                                           class="product-image">
                                                            <img src="{{ basket.game.main_image.url }}" alt="product">
                                                        </a>
                                                        <button class="btn-remove" title="Remove Product"
                                                                onclick="apiBasketRemove.call(this, {{ basket.id }})"><i
                                                                class="icon-retweet"></i></button>
                                                    </figure>
                                                </div><!-- End .product -->
                                            {% endfor %}
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Итог:</span>

                                            <span class="cart-total-price">{{ baskets.total_sum }} руб.</span>
                                    </div><!-- End .dropdown-cart-total -->
                                {% if user.is_authenticated %}
                                    <div class="dropdown-cart-action">
                                        <a href="{% url 'orders:order_create' %}" class="btn btn-block">Купить</a>
                                    </div><!-- End .dropdown-cart-total -->
                                {% else %}
                                    <div class="dropdown-cart-action">
                                        <a href="{% url 'users:login' %}" class="btn btn-block">Чтобы оформить заказ<br>Авторизуйтесь</a>
                                    </div><!-- End .dropdown-cart-total -->
                                {% endif %}
                                </div><!-- End .dropdownmenu-wrapper -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .dropdown -->
                        <i class="bi bi-window-split"></i>
                {% if user.is_authenticated %}
                        <div class="header-user btn-group">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="background-color: rgba(28,28,28,0)">

                                <i class="icon-user-2" style="color: white"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{% url 'users:profile' %}"><h4>Профиль</h4></a></li>
                                    <li><a class="dropdown-item" href="{% url 'users:logout' %}"><h4>Выйти</h4></a></li>
                                    {% if user.is_superuser %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'admin:index' %}"><h4>Админ панель</h4></a></li>
                                    {% endif %}
                                </div>
                            </div>

                    {% else %}
                        <a href="{% url 'users:login' %}?next={{ request.get_full_path }}"> Войти </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header><!-- End .header -->
<div style="min-height: 600px">

    {% block content %}

    {% endblock %}
</div>
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-left nav-links">
                    <a href="#">FAQs</a>
                </div>

            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="footer-left">
                    <img src="{% static 'assets/images/logo.png' %}" alt="logo image" width="110" height="46">
                    <div class="social-icons">
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" target="_blank" class="social-icon"><i class="icon-instagram"></i></a>
                    </div>
                </div>
                <img src="{% static 'assets/images/payments_long.png' %}" alt="payment_image">
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>DERZKI. © 2023. All Rights Reserved</p>
            </div>
        </div>
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-retweet"></i></span>
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active"><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'games:catalog' %}">Каталог</a></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'users:login' %}">Войти</a></li>
                {% else %}
                    <li><a href="{% url 'users:profile' %}">Профиль</a></li>
                    <li><a href="{% url 'users:logout' %}"> Выйти</a></li>
                {% endif %}
                <li><a href="{% url 'users:forgot-password' %}">Забыли пароль?</a></li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Add Cart Modal -->
<div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body add-cart-box text-center">
                <p>Вы добавили игру в список <br>покупок:</p>
                <h4 id="productTitle"></h4>
                <img src="" id="productImage" width="100" height="100" alt="adding cart image">
                <div class="btn-actions">
                    <a href="#">
                        <button class="btn-primary" data-dismiss="modal">Продолжить</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope-docs.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.min.js' %}"></script>

<!-- My JS Files -->
<script src="{% static 'assets/js/cart.js' %}"></script>
<script src="{% static 'assets/js/search.js' %}"></script>
<script src="{% static 'assets/js/catalog.js' %}"></script>

</body>
</html>