{% extends 'games/base.html' %}
{% block content %}
        <main class="main">
            <div class="container" style="min-height: 500px">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Забыли пароль</li>
                    </ol>
                </nav>

                <div class="heading mb-4">
                    <h2 class="title">Сменить пароль</h2>
                    <p>Введите адрес электронной почты</p>
                </div><!-- End .heading -->
             <div class="row">
                {% if messages or form.non_field_errors %}
                            <div class="alert {% if messages %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px;">
                                 {% if form.non_field_errors %}
                                    {{ form.non_field_errors }}
                                 {% else %}
                                    {% for message in messages %}
                                            {{ message }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                {% endif %}
            </div>
            <div class="row">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="form-group required-field">
                        <label for="reset-email">Email</label>
                        {{ form.email }}
                    </div><!-- End .form-group -->

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">Продолжить</button>
                    </div><!-- End .form-footer -->
                </form>
            </div>

            </div><!-- End .container -->

            <div class="mb-10"></div>

        </main><!-- End .main -->
{% endblock %}