{% extends 'games/base.html' %}
{% block content %}
    <main class="main" style="min-height: 500px">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главна</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Забыли пароль</li>
                </ol>
            </nav>

            <div class="heading mb-4">
                <h2 class="title">Письмо отправлено</h2>
            </div><!-- End .container -->

            <div class="mb-10"></div>
        </div>
    </main><!-- End .main -->
{% endblock %}